*{
      margin: 0;
      font-family: 'Open Sans', sans-serif;
}
/* header and navigation styles */
.header{
      background: #fff8f3;
      background-image: url(../images/header_bg.png);
      background-repeat: no-repeat;
      background-position: bottom right, left;
}
nav{
   display: flex;
   justify-content: space-between;
   margin: 50px 200px;
}
.nav-title{

      font-weight: 800;
      font-size: 45px;
}
nav ul{
      display: flex;
      align-items: center;
}
     
nav li {
      list-style: none;
      margin-left: 50px;
      
}
.text-primary{
      color: brown;
}
.btn-primary{
      color: #ffffff;
      font-weight: 700;
      font-size: 20px;
      border: 0;
      padding: 18px 35px;
      height: 64px;
      border-radius: 5px;
      background: brown;
}
/* bannar style */

.bannar{
      display: flex;
      align-items: center;
      margin: 0 200px;        
}
.bannar-title{
      font-weight: 700;
      font-size: 85px;

}
.bannar-sub-title{
      font-weight: 600;
      font-size: 45px;
      margin-bottom: 20px;
}
.bannar-description{
      color: #757575;
      font-size: 18px;
      margin-bottom: 30px;
}
main section{
      max-width: 1140px;
      margin: 0 auto;

}
/* about section style */
.about{
      margin-top: 130px;
      background-color: #fff8f3;
      border-radius: 10px;
      padding: 130px;
}
.section-title{
      text-align: center;
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 30px;
}
.section-description{
      color: #757575;
      font-size: 18;
      margin-bottom: 30px;

}
.about-info-container{
      display: flex;
      justify-content: space-around;
     }
.about .info-title{
      font-size: 20px;
      color: #757575;
}
.info-description{
      font-weight: 700;
      font-size: 20px;
      color: #474747;
}

    